{% extends "base_generic.html" %}

{% block title %}Author List{% endblock title %}

{% block content %}
    <h1>Author List</h1>
    <button
        type="button"
        class="btn btn-primary"
        onclick="location.href='{% url 'catalog:author-create' %}'"
        >
        Create New Author
    </button>
    {% if author_list %}
    <ul>
        {% for author in author_list %}
            <li>
                <a
                    href="{{ author.get_absolute_url }}"
                    >
                    {{ author }}
                </a>
            </li>
            <li>
                Number of Titles: {{ author.book_set.count }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}
