{% extends "base_generic.html" %}

{% block title %}Author Detail{% endblock title %}

{% block content %}
    <h1>Author</h1>

    <p><strong>Last Name:</strong> {{ author.last_name }}</p>
    <p><strong>First Name:</strong> {{ author.first_name }}</p>
    <p><a href={% url 'catalog:author-update' author.id %}>Edit Author</a></p>
    <p><a href={% url 'catalog:author-delete' author.id %}>Delete Author</a></p>

    <div style="margin-left:20px;margin-top:20px">
        <h2>Books</h2>
        <hr>
        {{ author.book_set.all }}
        {% for book in author.book_set.all %}
            <hr>
            <p><strong>Title:</strong> {{ book.title }}</p>
            <p><strong>Summary:</strong> {{ book.summary }}</p>
            <p><strong>ISBN:</strong> {{ book.isbn }}</p>
            <p><strong>Genre:</strong> {{ book.display_genre }}</p>
            <p><strong>Language:</strong> {{ book.language }}</p>
            <p><strong>Copies:</strong> {{ book.bookinstance_set.count }}</p>
        {% endfor %}
    </div>
{% endblock content %}
